<!-- Section: Statistics -->
<strong>Admin edit view</strong>
<section id="statistics" class="section bg-tuna">
  <div class="container">
    <div class="row">
      <!-- Statistic Block -->
      <div class="col-sm-3 col-xs-6 stat">
        <span class="icon_pens icon zoomIn wow" data-wow-duration="0.7s"></span>
        <div class="number animate-number h2" data-value="180"></div>
        <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Finished Projects</h4>
      </div>
      <!-- /Statistic Block -->
      <!-- Statistic Block -->
      <div class="col-sm-3 col-xs-6 stat">
        <span class="icon_group icon zoomIn wow" data-wow-duration="0.7s"></span>
        <div class="number animate-number h2" data-value="1806"></div>
        <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Happy Customers</h4>
      </div>
      <!-- /Statistic Block -->
      <!-- Statistic Block -->
      <div class="col-sm-3 col-xs-6 stat">
        <span class="icon_mug icon zoomIn wow" data-wow-duration="0.7s"></span>
        <div class="number animate-number h2" data-value="238"></div>
        <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Coffee</h4>
      </div>
      <!-- /Statistic Block -->
      <!-- Statistic Block -->
      <div class="col-sm-3 col-xs-6 stat">
        <span class="icon_building icon zoomIn wow" data-wow-duration="0.7s"></span>
        <div class="number animate-number h2" data-value="3485"></div>
        <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Days at Work</h4>
      </div>
      <!-- /Statistic Block -->
    </div>
  </div>
</section>
<!-- /Section: Statistics -->