<h1>Editing Mile</h1>

<%= render 'form', mile: @mile %>

<%= link_to 'Back To Trailer', @trailer, class:"btn btn-info btn-sm round" %> |   
<%= link_to 'All Trailer Miles', trailer_trailer_miles_path, class:"btn btn-hrcinfo btn-sm round" %> 
