<li><a class="page-scroll" href="#home">Home</a></li> 
<li><a class="page-scroll" href="#about">About</a></li>  
<li><a class="page-scroll" href="#events">Coverage</a></li>
<!--<li><a class="page-scroll" href="#flip_cards">Team</a></li>  -->
<!--<li><a class="page-scroll" href="#more-features">More Features</a></li>-->
<!--<li><a class="page-scroll" href="#statistics">Stats</a></li> -->
<!--<li><a class="page-scroll" href="#best-features">Best Features</a></li>-->
<li><a class="page-scroll" href="#partners">Our Customers</a></li> 
<li><a class="page-scroll" href="#footer">Contact</a></li>  
