<a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d439.8823117886114!2d-80.082339117007!3d42.12537920812817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882d7fe3e44613fb%3A0x71f9a595f9a743fe!2sRenaissance+Centre%2C+1001+State+St%2C+Erie%2C+PA+16501!5e0!3m2!1sen!2sus!4v1502004870807" class="iframe-popup">
<span class="fa fa-map-marker"></span><%= @fpt1.string_input %> </a> 
 <a><span class="fa fa-envelope"></span> <%= mail_to @fpt2.string_input, @fpt2.string_input, target: '_blank' %></a> 
<a href="#"><span class="fa fa-phone"></span><%= @fpt3.string_input %></a> 
<a href="#"><span class="fa fa-fax"></span><%= @fpt73.string_input %></a> 