<section id="partners" class="">
<footer class="footer section-small padding: none; margin: none;"></footer>
<!--style="display: none"-->
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <header class="text-center">
      <h2 class="section-title">
        <% @fpt50.string_input %>
        <span class="text-theme">
        Just some of the great companies our team has worked with.
        </span>
      </h2>
      <p class="section-subtitle">
        <% @fpt51.string_input %> We hope to see you here soon!
      </p>
    </header>
  </div>
</div>
<div class="row">
<div class="col-sm-6 text-center">
  <%= link_to 'https://www.chrobinson.com/', target: :_blank do %> 
  <%= image_tag 'front_pages/partners/chrobinson.jpg' %>
  <% end %>
</div>
<div class="col-sm-6 text-center">
  <%= link_to 'https://www.pamtransport.com/', target: :_blank do %> 
  <div class="col-sm-6 col-sm-offset-2">
    <%= image_tag 'front_pages/partners/pam.jpg' %>
    <% end %>
  </div>
</div>