<!-- Modal: Result Message -->
<div class="modal fade" id="result" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title">Sending message</h4>
      </div>
      <div class="modal-body">
        <div class="result-icon">
          <div class="icon-border">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" preserveAspectRatio="none">
              <circle cx="8" cy="8" r="6.215" transform="rotate(90 8 8)"></circle>
            </svg>
            <i class="icon fa fa-check"></i>
          </div>
        </div>
        <p class="modal-result h4 text-center"></p>
      </div>
    </div>
  </div>
</div>
<!-- /Modal: Result Message -->