<li><a href="https://www.facebook.com/Transportiq-268913843593540/" target="_blank" class="fa fa-facebook text-center"></a></li>
<li><a href="http://www.twitter.com/transport_iq" target="_blank" class="fa fa-twitter text-center"></a></li> 
              <!--<li><a href="#" class="fa fa-google-plus text-center"></a></li>-->
<!--<li><a href="#" class="fa fa-dribbble text-center"></a></li>-->
<!--<li><a href="#" class="fa fa-pinterest text-center"></a></li>-->
