    <!-- Section: About -->
    <section id="about" class="section">
        <div class="container">

            <!-- Section Header -->
            <div class="row" style="display: none">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center">
                        <h2 class="section-title">About <span class="text-theme">Us</span></h2>
                        <p class="section-subtitle">It is a long established fact that a reader</p>
                    </header>
                </div>
            </div>
            <!-- /Section Header -->

            <div class="row">

                <!-- Feature Block -->
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s">
                    <span class="icon_link_alt icon"></span>
                    <div class="h3 title">Clean Design</div>
                    <p class="description">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.
                    </p>
                    <a href="#" class="btn btn-theme">Read more</a>
                </div>
                <!-- /Feature Block -->

                <!-- Feature Block -->
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.4s">
                    <span class="icon_mobile icon"></span>
                    <div class="h3 title">Mobile Friendly</div>
                    <p class="description">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.
                    </p>
                    <a href="#" class="btn btn-theme">Read more</a>
                </div>
                <!-- /Feature Block -->

                <!-- Feature Block -->
                <div class="col-sm-4 feature fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0.8s">
                    <span class="icon_pens icon"></span>
                    <div class="h3 title">Well Documented</div>
                    <p class="description">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.
                    </p>
                    <a href="#" class="btn btn-theme">Read more</a>
                </div>
                <!-- /Feature Block -->

            </div>
        </div>
    </section>
    <!-- /Section: About -->