<h1>Editing Vendor Profile</h1>

<%= render 'form', vendor_profile: @vendor_profile %>

<%= link_to 'Show', @vendor_profile, class: "btn btn-success btn-sm round" %> |
<%= link_to 'Back', vendor_profiles_path, class: "btn btn-hrcinfo btn-sm round" %>
