
/*start primary*/


.btn-hrcprimary { 
  color: #FFFFFF; 
  background-color: #199999; 
  border-color: #F0E4E7; 
} 
 
.btn-hrcprimary:hover, 
.btn-hrcprimary:focus, 
.btn-hrcprimary:active, 
.btn-hrcprimary.active, 
.open .dropdown-toggle.btn-hrcprimary { 
  color: #FFFFFF; 
  background-color: #4CFFFF; 
  border-color: #F0E4E7; 
} 
 
.btn-hrcprimary:active, 
.btn-hrcprimary.active, 
.open .dropdown-toggle.btn-hrcprimary { 
  background-image: none; 
} 
 
.btn-hrcprimary.disabled, 
.btn-hrcprimary[disabled], 
fieldset[disabled] .btn-hrcprimary, 
.btn-hrcprimary.disabled:hover, 
.btn-hrcprimary[disabled]:hover, 
fieldset[disabled] .btn-hrcprimary:hover, 
.btn-hrcprimary.disabled:focus, 
.btn-hrcprimary[disabled]:focus, 
fieldset[disabled] .btn-hrcprimary:focus, 
.btn-hrcprimary.disabled:active, 
.btn-hrcprimary[disabled]:active, 
fieldset[disabled] .btn-hrcprimary:active, 
.btn-hrcprimary.disabled.active, 
.btn-hrcprimary[disabled].active, 
fieldset[disabled] .btn-hrcprimary.active { 
  background-color: #199999; 
  border-color: #F0E4E7; 
} 
 
.btn-hrcprimary .badge { 
  color: #199999; 
  background-color: #FFFFFF; 
}

/*end primary*/




/*start success*/
.btn-hrcsuccess { 
  color: #FFFFFF; 
  background-color: #881133; 
  border-color: #F0E4E7; 
} 
 
.btn-hrcsuccess:hover, 
.btn-hrcsuccess:focus, 
.btn-hrcsuccess:active, 
.btn-hrcsuccess.active, 
.open .dropdown-toggle.btn-hrcsuccess { 
  color: #FFFFFF; 
  background-color: #FF336D; 
  border-color: #F0E4E7; 
} 
 
.btn-hrcsuccess:active, 
.btn-hrcsuccess.active, 
.open .dropdown-toggle.btn-hrcsuccess { 
  background-image: none; 
} 
 
.btn-hrcsuccess.disabled, 
.btn-hrcsuccess[disabled], 
fieldset[disabled] .btn-hrcsuccess, 
.btn-hrcsuccess.disabled:hover, 
.btn-hrcsuccess[disabled]:hover, 
fieldset[disabled] .btn-hrcsuccess:hover, 
.btn-hrcsuccess.disabled:focus, 
.btn-hrcsuccess[disabled]:focus, 
fieldset[disabled] .btn-hrcsuccess:focus, 
.btn-hrcsuccess.disabled:active, 
.btn-hrcsuccess[disabled]:active, 
fieldset[disabled] .btn-hrcsuccess:active, 
.btn-hrcsuccess.disabled.active, 
.btn-hrcsuccess[disabled].active, 
fieldset[disabled] .btn-hrcsuccess.active { 
  background-color: #881133; 
  border-color: #F0E4E7; 
} 
 
.btn-hrcsuccess .badge { 
  color: #881133; 
  background-color: #FFFFFF; 
}


/*end success*/


/*start info*/


.btn-hrcinfo { 
  color: #FFFFFF; 
  background-color: #557777; 
  border-color: #F0E4E7; 
} 
 
.btn-hrcinfo:hover, 
.btn-hrcinfo:focus, 
.btn-hrcinfo:active, 
.btn-hrcinfo.active, 
.open .dropdown-toggle.btn-hrcinfo { 
  color: #FFFFFF; 
  background-color: #19CCCC; 
  border-color: #F0E4E7; 
} 
 
.btn-hrcinfo:active, 
.btn-hrcinfo.active, 
.open .dropdown-toggle.btn-hrcinfo { 
  background-image: none; 
} 
 
.btn-hrcinfo.disabled, 
.btn-hrcinfo[disabled], 
fieldset[disabled] .btn-hrcinfo, 
.btn-hrcinfo.disabled:hover, 
.btn-hrcinfo[disabled]:hover, 
fieldset[disabled] .btn-hrcinfo:hover, 
.btn-hrcinfo.disabled:focus, 
.btn-hrcinfo[disabled]:focus, 
fieldset[disabled] .btn-hrcinfo:focus, 
.btn-hrcinfo.disabled:active, 
.btn-hrcinfo[disabled]:active, 
fieldset[disabled] .btn-hrcinfo:active, 
.btn-hrcinfo.disabled.active, 
.btn-hrcinfo[disabled].active, 
fieldset[disabled] .btn-hrcinfo.active { 
  background-color: #557777; 
  border-color: #F0E4E7; 
} 
 
.btn-hrcinfo .badge { 
  color: #557777; 
  background-color: #FFFFFF; 
}

/*end info*/