<%= render "front_pages/html/non_root_pages/navigation" %>
<%= render "front_pages/html/non_root_pages/slider" %>
<div class="container">


<h2>Safety and Security</h2>
<h3>Safety</h3>
<p>From day one, safety has been the highest priority at Swift Transportation. Safety for our employees, customers and motoring public will always remain our primary focus in all the policies, 
procedures and programs that govern our business.
</p>
<p>We believe safety is the responsibility of every level of management, beginning with the Chief Executive Officer. It is the responsibility of all managers to:</p>
<ul>
<li>Maintain high standards in employee selection</li>
<li>Provide a safe working environment</li>
<li>Provide initial and ongoing safety training</li>
<li>Eliminate unsafe acts through corrective action</li>
<li>Abide by Company safety policies and procedures</li>
<li>Adhere to Federal, State, and Local safety, health and environmental Laws and Regulations</li>
<li>Insist on a commitment to safety from all employees</li>
<li>Manage and work with a commitment to safety which will contribute to the improved efficiencies of our operation and ensure future success 
and continued prosperity of our company, employees, customers, and communities.
</li>
</ul>
<p>The Values That Guide Us In Our Actions and Relationships:</p>
<ul>
<li>Safety</li>
<li>Personal Commitment To Always Deliver</li>
<li>Honesty and Integrity</li>
<li>Sense of Urgency</li>
<li>Hard Work - “Can Do” Spirit</li>
</ul>
<p>How We Provide Consistent Service for Our Customers:</p>
<ul>
<li>Total Quality Management</li>
<li>Profit Improvement</li>
<li>Innovation and Technology</li>
<li>Communication</li> 
</ul>
</div>
<%= render "front_pages/html/non_root_pages/footer" %>  