
<%= render "front_pages/html/non_root_pages/navigation" %>
<%= render "front_pages/html/non_root_pages/slider" %>
<div class="container">


<h2>Strategy stuff here</h2>

</div>

<%= render "front_pages/html/non_root_pages/footer" %>  